APP_NAME=MCCG
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://www.mc-cg.com
APP_TIMEZONE=Africa/Casablanca

MCCG_PHONE="05 24 43 83 70"
MCCG_EMAIL="majd.chraibi@gmail.com"
MCCG_STREET_ADDRESS="92, Bd Zerktouni, Appt 6, 2ème étage"
MCCG_ADDRESS="92, Bd Zerktouni, Appt 6, 2ème étage, Guéliz, Marrakech"
MCCG_CITY="Marrakech"
MCCG_REGION="Marrakech-Safi"
MCCG_OTHER_OFFICES="Casablanca, Dubai"
MCCG_HOURS="Lun - Ven: 9h00 - 18h00"
MCCG_LINKEDIN_URL="https://www.linkedin.com/in/majdchraibi"
MCCG_INSTAGRAM_URL="https://www.instagram.com/mccg.consulting"
MCCG_GOOGLE_MAPS_URL=""
MCCG_GOOGLE_MAPS_EMBED_URL=""
MCCG_MARRAKECH_MAPS_URL="https://www.google.com/maps/place/31°38'14.2%22N+8°00'41.8%22W/@31.637271,-8.011621,17z/data=!4m4!3m3!8m2!3d31.6372705!4d-8.0116213?hl=en-GB&entry=ttu"
MCCG_MARRAKECH_MAPS_EMBED_URL="https://www.google.com/maps?q=31.6372705,-8.0116213&z=15&output=embed"
MCCG_CASABLANCA_MAPS_URL="https://www.google.com/maps/place/25°10'38.4%22N+55°16'24.3%22E/@25.177329,55.273418,17z/data=!4m4!3m3!8m2!3d25.1773294!4d55.273418?hl=en-GB&entry=ttu"
MCCG_CASABLANCA_MAPS_EMBED_URL="https://www.google.com/maps?q=25.1773294,55.273418&z=15&output=embed"
MCCG_DUBAI_MAPS_URL="https://www.google.com/maps/place/25°10'38.4%22N+55°16'24.3%22E/@25.177329,55.273418,17z/data=!4m4!3m3!8m2!3d25.1773294!4d55.273418?hl=en-GB&entry=ttu"
MCCG_DUBAI_MAPS_EMBED_URL="https://www.google.com/maps?q=25.1773294,55.273418&z=15&output=embed"

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

ADMIN_EMAIL=
ADMIN_PASSWORD=

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=mccg_website
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="contact@mccg.ma"
MAIL_FROM_NAME="${APP_NAME}"
CONTACT_NOTIFICATION_EMAIL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
